@import "./components/input.css";
@import "./components/fields.css";
@import "./components/button.css";



.fields {
    gap: 2.3rem;
    width: 100%;
}

.form-evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 235, 230);
    padding: 15px;
    width: 500px;
    
}


#btn-update-evento {
    padding: 0.8rem;
    margin-top: 20px;
}

.input-container {
    width: 100%;
}